html, body {
            margin: 0;
            margin: 0;
            height: 100%;
        }

html, body, #mapDiv {
    height: 100%;
    width: 100vw;
}

#popupInfo, #popupEnd, #popupTransition {
    display: none;
    position: absolute;
    margin: 0;
    border: none;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 20000;
    height: 100vh;
    background-color: white;
}

.answerButtons {
    width: 150px;
}

.layerToggler {
    position: absolute;
    background-image: url(./assets/images/icons/sat.png);
    height: 3.5rem;
    width: 3.5rem;
    top: 10px;
    right: 10px;
    z-index: 2000;
    cursor: pointer;
}

.close-button {
    position: fixed;
    top: 5px;
    right: 5px;
    background-color: rgba(255, 255, 255, .4);
    border-radius: 100%;
    border: 1px solid rgba(255, 255, 255, 1)
}
.btn {
     padding: 0 !important;
     border: none !important;
 }

